body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.75rem;
}

img {
  width: 100%;
  margin-top: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead, tfoot {
  background-color: #660063;
  color: #ffffff;
  text-align: center;
}

thead {
  font-weight: bold;
}

td {
  padding: 0.5rem;
  margin: 0;
  border: 1px solid #000000;
}

tbody tr:nth-child(even) {
  background-color: #dddddd;
}

table a {
  color: #6096bd;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}
